:root
{
    /* Blue Colors */
    --color-blue-1: #4848D6;
    --color-blue-2: #3838D2;
    --color-blue-3: #2D2DCB;
    --color-blue-4: #2A2ABC;
    --color-blue-5: #2626AC;
    --color-blue-6: #23239D;
    --color-blue-7: #1F1F8E;
    --color-blue-8: #1C1C7F;
    --color-blue-9: #191970;

    /* Green Colors */
    --color-green-1: #5CD75C;
    --color-green-2: #4FD34F;
    --color-green-3: #41D041;
    --color-green-4: #33CD33;
    --color-green-5: #2FC12F;
    --color-green-6: #2BB32B;
    --color-green-7: #28A628;
    --color-green-8: #259825;
    --color-green-9: #228B22;

    /* Yellow Colors */
    --color-yellow-1: #F4C34C;
    --color-yellow-2: #F3BE3D;
    --color-yellow-3: #F2BA2E;
    --color-yellow-4: #F1B520;
    --color-yellow-5: #F0B011;
    --color-yellow-6: #E4A60D;
    --color-yellow-7: #D59B0C;
    --color-yellow-8: #C6900B;
    --color-yellow-9: #B8860B;

    /* Orange Colors */
    --color-orange-1: #FF9347;
    --color-orange-2: #FE8A38;
    --color-orange-3: #FF8228;
    --color-orange-4: #FF7919;
    --color-orange-5: #FF700A;
    --color-orange-6: #F96800;
    --color-orange-7: #EA6100;
    --color-orange-8: #DB5B00;
    --color-orange-9: #CC5500;

    /* Red Colors */
    --color-red-1: #FF1919;
    --color-red-2: #FF0606;
    --color-red-3: #F20000;
    --color-red-4: #DF0000;
    --color-red-5: #CC0000;
    --color-red-6: #B90000;
    --color-red-7: #A60000;
    --color-red-8: #930000;
    --color-red-9: #800000;

    /* Purple Colors */
    --color-purple-1: #9E1BFF;
    --color-purple-2: #9607FF;
    --color-purple-3: #8C00F3;
    --color-purple-4: #8100E1;
    --color-purple-5: #7600CE;
    --color-purple-6: #6B00BB;
    --color-purple-7: #6000A8;
    --color-purple-8: #550094;
    --color-purple-9: #4B0082;

    /* Brown Colors */
    --color-brown-1: #C78E54;
    --color-brown-2: #C28446;
    --color-brown-3: #BA7B3C;
    --color-brown-4: #AB7238;
    --color-brown-5: #9D6833;
    --color-brown-6: #8F5F2E;
    --color-brown-7: #81552A;
    --color-brown-8: #734C25;
    --color-brown-9: #654321;

    /* Light Colors */
    --color-light-1: #FFFFFF;
    --color-light-2: #F2F2F2;
    --color-light-3: #E5E5E5;
    --color-light-4: #D8D8D8;
    --color-light-5: #CCCCCC;
    --color-light-6: #BFBFBF;
    --color-light-7: #B2B2B2;
    --color-light-8: #A5A5A5;
    --color-light-9: #999999;

    /* Dark Colors */
    --color-dark-1: #666666;
    --color-dark-2: #595959;
    --color-dark-3: #4C4C4C;
    --color-dark-4: #3F3F3F;
    --color-dark-5: #333333;
    --color-dark-6: #262626;
    --color-dark-7: #191919;
    --color-dark-8: #0C0C0C;
    --color-dark-9: #000000;
}


.lightmode
{
    /* lightmode will adjust the color of these variables for a light theme */


    /* Header top */
    --header-fg: var(--color-light-3);
    --header-bg: var(--color-dark-4);

    /* Theme toggle button */
    --button-theme-fg: var(--color-light-3);
    --button-theme-fg-hover: var(--color-light-8);

    /* Hamburger menu */
    --ham-fg: var(--color-light-3);
    --ham-bg: var(--color-dark-4);
    --ham-fg-hover: var(--color-light-8);

    /* Main empty background */
    --main-fg: var(--color-dark-4);
    --main-bg: var(--color-light-4);

    /* Menu that appreas when Clicking the Hamburger menu */
    --menu-fg: var(--color-dark-4);
    --menu-bg: var(--color-light-3);
    --menu-br: var(--color-light-3);
    --menu-fg-hover: var(--color-dark-4);
    --menu-bg-hover: var(--color-light-5);
    --menu-fg-active: var(--color-dark-4);
    --menu-bg-active: var(--color-light-5);

    /* Table of contents */
    --toc-fg: var(--color-dark-4);
    --toc-bg: var(--color-light-4);
    --toc-br: var(--color-light-4);
    --toc-fg-hover: var(--color-dark-4);
    --toc-bg-hover: var(--color-light-5);
    --toc-fg-active: var(--color-dark-4);
    --toc-bg-active: var(--color-light-5);

    /* Sections which look like a box or a card */
    --section-fg: var(--color-dark-4);
    --section-bg: var(--color-light-3);
    --section-br: var(--color-light-3);

    /* Tables which appear in the middle */
    --table-fg: var(--color-dark-4);
    --table-bg: var(--color-light-4);
    --table-bg-nth: var(--color-light-4);
    --table-br: var(--color-light-5);

    /* Highlight text that is special */
    --special-fg: var(--color-red-4);
    --link-fg: var(--color-red-4);

    /* Buttons (Copy, scroll-to-top, ...) */
    --button-fg: var(--color-light-4);
    --button-bg: var(--color-dark-3);
    --button-fg-hover: var(--color-light-4);
    --button-bg-hover: var(--color-dark-5);

    /* Code sections */
    --code-fg: var(--color-dark-4);
    --code-bg: var(--color-light-5);
    --code-rb: var(--color-light-9);
    --code-br: var(--color-light-3);

    /* Social Media buttons */
    --button-social-fg: var(--color-dark-1);
    --button-social-bg: transparent;
    --button-social-fg-hover: var(--color-dark-6);
    --button-social-bg-hover: transparent;

    /* The footer */
    --footer-fg: var(--color-light-3);
    --footer-bg: var(--color-dark-4);
}

.darkmode
{
    /* darkmode will adjust the color of these variables for a dark theme */

    /* Header top */
    --header-fg: var(--color-light-3);
    --header-bg: var(--color-dark-4);

    /* Theme toggle button */
    --button-theme-fg: var(--color-light-3);
    --button-theme-fg-hover: var(--color-light-8);

    /* Hamburger menu */
    --ham-fg: var(--color-light-3);
    --ham-bg: var(--color-dark-4);
    --ham-fg-hover: var(--color-light-8);

    /* Main empty background */
    --main-fg: var(--color-light-4);
    --main-bg: var(--color-dark-1);

    /* Menu that appreas when Clicking the Hamburger menu */
    --menu-fg: var(--color-light-4);
    --menu-bg: var(--color-dark-3);
    --menu-br: var(--color-dark-3);
    --menu-fg-hover: var(--color-light-4);
    --menu-bg-hover: var(--color-dark-5);
    --menu-fg-active: var(--color-light-4);
    --menu-bg-active: var(--color-dark-5);

    /* Table of contents */
    --toc-fg: var(--color-light-4);
    --toc-bg: var(--color-dark-4);
    --toc-br: var(--color-dark-4);
    --toc-fg-hover: var(--color-light-4);
    --toc-bg-hover: var(--color-dark-5);
    --toc-fg-active: var(--color-light-4);
    --toc-bg-active: var(--color-dark-5);

    /* Sections which look like a box or a card */
    --section-fg: var(--color-light-4);
    --section-bg: var(--color-dark-3);
    --section-br: var(--color-dark-3);

    /* Tables which appear in the middle */
    --table-fg: var(--color-light-4);
    --table-bg: var(--color-dark-2);
    --table-bg-nth: var(--color-dark-2);
    --table-br: var(--color-dark-5);

    /* Highlight text that is special */
    --special-fg: var(--color-green-5);
    --link-fg: var(--color-green-5);

    /* Buttons (Copy, scroll-to-top, ...) */
    --button-fg: var(--color-light-4);
    --button-bg: var(--color-dark-4);
    --button-fg-hover: var(--color-light-4);
    --button-bg-hover: var(--color-dark-6);

    /* Code sections */
    --code-fg: var(--color-light-4);
    --code-bg: var(--color-dark-2);
    --code-rb: var(--color-dark-5);
    --code-br: var(--color-dark-3);

    /* Social Media buttons */
    --button-social-fg: var(--color-light-6);
    --button-social-bg: transparent;
    --button-social-fg-hover: var(--color-light-2);
    --button-social-bg-hover: transparent;

    /* The footer */
    --footer-fg: var(--color-light-3);
    --footer-bg: var(--color-dark-4);
}




/* The actual styling starts from here */

body
{                
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    line-height: 1.6;
    color: var(--main-fg);
    background-color: var(--main-bg);
}

header
{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 20px 0px;
    align-items: center;
    position: relative;
    
    letter-spacing: 1px;
    color: var(--header-fg);
    background-color: var(--header-bg);
}

#menu-h1
{
    flex-grow: 1;
}

#dark-mode-toggle
{
    padding: 0px;
    margin-top: 8px;
    margin-right: 10px;
    align-items: center;
    width: 24px;
    height: 24px;
    
    color: var(--button-theme-fg);
    background: transparent;
    cursor: pointer;
    border: none;
    transition: color 0.3s ease;
}

#dark-mode-toggle:hover
{
    color: var(--button-theme-fg-hover);
}

.menu-toggle
{
    display: flex;
    align-items: center;
    cursor: pointer;
    
    color: var(--ham-fg);
    background-color: var(--ham-bg);
    transition: color 0.3s ease;
}

.menu-toggle:hover
{
    color: var(--ham-fg-hover);
}

.menu-toggle .menu-icon
{
    font-size: 32px;
    margin-left: 10px;
}

.menu
{
    display: none; /* Initially, do not show the menu */
    min-width: 60vw;
    max-width: 60vw;
    padding: 20px;
    margin: 10px auto 30px auto;
    
    color: var(--menu-fg);
    background-color: var(--menu-bg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.menu.active
{
    display: block; /* Display menu */
}

.menu a
{
    display: block;
    padding: 8px 12px;
    
    text-decoration: none;
    color: var(--menu-fg);
    border: 1px solid var(--menu-bg);
    border-radius: 5px;
}

.menu a:hover
{
    color: var(--menu-fg-hover);
    background-color: var(--menu-bg-hover);
    border: 1px solid var(--menu-bg-hover);
    border-radius: 5px;
}

main
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

h2
{
    margin-bottom: 20px;
}

.section
{
    min-width: 60vw;
    max-width: 60vw;
    margin-bottom: 30px;
    padding: 20px;
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: var(--section-bg);
    border: 1px solid var(--section-br);
    border-radius: 5px;
}

.section p
{
    text-align: justify;
}

.card
{
    cursor: pointer;
}

.spacerSection
{
    margin-bottom: 15vh;
}

.spacerTopic
{
    margin-top: 15vh;
}

.spacerCode
{
    margin-top: 1.5vh;
}

.spacerText
{
    margin-top: 3.75vh;
}

.specialText
{
    color: var(--special-fg);
}

.link
{
    text-decoration: underline;
    color: var(--link-fg);
}

.justified-list-ul
{

    display: block;
    list-style-type: square;
    padding: 0px;
    margin: 0px 40px;
}

.justified-list-ul li
{
    margin: 0;
    text-align: justify;
}

.code-container
{
    border: 1px solid var(--code-br);
    border-radius: 5px;
    background-color: var(--code-bg);
    font-family: 'Liberation Mono', 'Courier New', Courier;
    white-space: none;
}

.ribbon
{
    display: flex;
    position: relative;
    justify-content: flex-end;

    background-color: var(--code-rb);
    border-top: 4px solid var(--code-rb);
    border-radius: 5px 5px 0 0;
}

.ribbon .copy-button
{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 2px 20px;

    color: var(--button-fg);
    background-color: var(--button-bg);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.ribbon .copy-button:hover
{
    color: var(--button-fg-hover);
    background-color: var(--button-bg-hover);
}

.code-container code
{
    display: block;
    overflow-x: auto;
    padding: 10px;
    margin: 0;

    font-size: 1.15em;
    white-space: none;
}


.scroll-to-top
{
    display: none;
    position: fixed;
    bottom: 70px;
    right: 10px;
    padding: 7px 12px;
    
    color: var(--button-fg);
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.scroll-to-top:hover
{
    color: var(--button-fg-hover);
    background-color: var(--button-bg-hover);
}

.social-media-container
{

    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;     /* Centers items vertically */
    height: 64px;
    gap: 20px;
}

.social-media-container button
{
    padding: 0px;
    margin-top: 8px;
    margin-right: 10px;
    align-items: center;
    width: 42px;
    height: 42px;

    color: var(--button-social-fg);
    background: var(--button-social-bg);
    cursor: pointer;
    border: none;
    transition: color 0.3s ease;
}

.social-media-container button:hover
{
    color: var(--button-social-fg-hover);
    background-color: var(--button-social-bg-hover);
}

#toc
{
    margin-bottom: 20vh;
}

.toc
{
    list-style: none;
    padding: 0px;
}

.toc li
{
    margin-bottom: 10px;
}

.toc a
{
    display: block;
    padding: 8px 15px 8px 15px;
    
    color: var(--toc-fg);
    background-color: var(--toc-bg);
    border: 1px solid var(--toc-br);
    border-radius: 5px;
    text-decoration: none;
}

.toc a:hover
{
    color: var(--toc-fg-hover);
    background-color: var(--toc-bg-hover);
}

.toc a:active
{
    color: var(--toc-fg-active);
    background-color: var(--toc-bg-active);
}

table
{
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid var(--table-br);
    padding: 10px;
    text-align: left;
}

th
{
    color: var(--table-fg);
    background-color: var(--table-bg);
}

tr:nth-child(even)
{
    color: var(--table-fg);
    background-color: var(--table-bg-nth);
}

td
{
    border-bottom: 1px solid var(--table-br);
}

footer
{
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
    
    color: var(--footer-fg);
    background-color: var(--footer-bg);
}

.copy-year
{
    font-size: 0.95em;
}

/* Mobile adjustments */
@media (max-width: 768px)
{
    .menu
    {
        min-width: 90vw;
        max-width: 90vw;
    }

    .section
    {
        min-width: 90vw;
        max-width: 90vw;
    }
    
    .section p
    {
        text-align: left;
    }
    
    .toc a
    {
        padding: 0px 5px;
    }
    
    .justified-list-ul li
    {
        text-align: left;
    }

    /* Adjust other styles as needed */
}
