<!DOCTYPE html>

<!--
    File: template.html
    Author: Saviz Mohammadi
    Date: June 30, 2024
    Description: This file is a template that you can use to quickly setup a new page. Just make sure to update paths.
    License: MIT
-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>UFO_Coder</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="./../../css/reset.css">
        <link rel="stylesheet" href="./../../css/styles.css">
    </head>










    <!-- Content -->
    <body>
        <header>
            <h1 id="menu-h1">UFO_Coder</h1>

            <button id="dark-mode-toggle">
                <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg>
            </button>

            <div class="menu-toggle" onclick="toggleMenu()">
                <div class="menu-icon">&#9776;</div>
            </div>
        </header>





        <main>
            <nav id="menu" class="menu">
                <a href="./index.html">Home</a>
                <a href="./html/Other/about.html">About</a>
            </nav>





            <!-- Table Of Content -->
            <!-- ########################################################## -->

            <section id="toc" class="section">
                <h2>Table of Contents</h2>

                <ul class="toc">
                    <li><a href="#Git">Git Version Control System</a></li>
                </ul>
            </section>

            <!-- ########################################################## -->










            <div class="spacerSection"></div>










            <!-- Git -->
            <!-- ########################################################## -->

            <section id= "Git" class="section card" onclick="redirectToPage('./html/Git/Git - 001.html')">
                <h2>Git Version Control System - # 001 - Introduction</h2>

                <p>
                    This is an <span class="specialText">example</span> of a section that contains a paragraph. You can copy this to write some text and content.
                </p>
            </section>

            <section class="section card" onclick="redirectToPage('./html/Git/Git - 002.html')">
                <h2>Git Version Control System - # 002 - Introduction</h2>

                <p>
                    This is an <span class="specialText">example</span> of a section that contains a paragraph. You can copy this to write some text and content.
                </p>
            </section>

            <!-- ########################################################## -->
        </main>





        <footer>
            <p id="current-year" class="copy-year">Home page - </p>
        </footer>





        <button id="scrollToTopButton" class="scroll-to-top" onclick="scrollToTop()">&#9650;</button>





        <script src="./../../js/theme-manager.js" defer></script>
        <script src="./../../js/menu.js"></script>
        <script src="./../../js/scroll-to-top.js"></script>
        <script src="./../../js/copy.js"></script>
        <script src="./../../js/date.js"></script>
        <script src="./../../js/page-redirection.js"></script>
    </body>
</html>
